a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display:block
}
[hidden] {
  display:none
}
body {
  line-height:1
}
ol,
ul {
  list-style:none
}
blockquote,
q {
  quotes:none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content:"";
  content:none
}
table {
  border-collapse:collapse;
  border-spacing:0
}
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  src:local("Roboto"),
  local("Roboto-Regular"),
  url(https://recreate.games/fonts/Roboto-Regular.1bef46b5.woff) format("woff")
}
@font-face {
  font-family:Roboto Medium;
  font-style:normal;
  font-weight:500;
  src:local("Roboto Medium"),
  local("Roboto-Medium"),
  url(../fonts/Roboto-Medium.5e22acda.woff) format("woff")
}
@font-face {
  font-family:Roboto Bold;
  font-style:normal;
  font-weight:700;
  src:local("Roboto Bold"),
  local("Roboto-Bold"),
  url(../fonts/Roboto-Bold.21c028ae.woff) format("woff")
}
@font-face {
  font-family:Roboto Light;
  font-style:normal;
  font-weight:300;
  src:local("Roboto Light"),
  local("Roboto-Light"),
  url(../fonts/Roboto-Light.d6479864.woff) format("woff")
}
@font-face {
  font-family:Dosis;
  font-style:normal;
  font-weight:300;
  src:local("Dosis Regular"),
  local("Dosis-Regular"),
  url(../fonts/Dosis-Regular.557739d4.woff) format("woff")
}
@font-face {
  font-family:Dosis Light;
  font-style:normal;
  font-weight:300;
  src:url(https://recreate.games/fonts/Dosis-ExtraLight.4862111c.woff) format("woff")
}
body,
html {
  font:16px/2 Roboto,Microsoft YaHei,sans-serif;
  color:#fff;
  background:#0a0a0a;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
[lang=zh] body,
html[lang=zh] {
  color:#888;
  background:#fff
}
a {
  color:inherit;
  text-decoration:none;
  outline:none;
  transition:color .3s ease
}
a:focus,
div:focus,
input:focus,
p:focus {
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
.nav-wrapper {
  position:fixed;
  z-index:20;
  width:100%;
  padding:18px 0;
  height:24px;
  line-height:24px;
  color:#fff
}
.nav-wrapper.fixed {
  background:rgba(0,0,0,.95)
}
.content,
nav {
  overflow:hidden;
  max-width:1245px;
  margin:0 auto;
  padding:0 30px
}
.logo-wrap {
  overflow:hidden;
  float:left
}
#logo {
  display:block;
  float:left;
  position:relative;
  top:2px;
  width:90px;
  height:20px
}
.nav-items {
  font-size:14px;
  text-align:center
}
.nav-item {
  display:inline-block;
  text-transform:uppercase;
  letter-spacing:2px;
  opacity:.75
}
.nav-item a {
  display:block;
  padding:0 20px
}
.fixed .nav-item,
.fixed .nav-right,
.nav-item.active,
.nav-item:hover {
  opacity:1
}
.nav-right {
  float:right;
  margin-left:20px;
  opacity:.75
}
.nav-right.active,
.nav-right:hover {
  opacity:1
}
.fixed .nav-item.active,
.fixed .nav-item:hover,
.fixed .nav-right.active,
.fixed .nav-right:hover {
  color:#296aff;
  opacity:1
}
.hide-nav .normal-nav {
  display:none
}
.hide-nav .nav-btn {
  display:block
}
.nav-btn {
  position:relative;
  z-index:200;
  display:none;
  float:right;
  height:25px
}
.btn-lines {
  position:relative;
  top:0;
  display:inline-block;
  background:#fff;
  cursor:pointer;
  vertical-align:middle
}
.btn-lines,
.btn-lines:after,
.btn-lines:before {
  width:22px;
  height:2px;
  transition:transform .45s ease,background-color .2s ease,opacity .2s ease
}
.btn-lines:after,
.btn-lines:before {
  position:absolute;
  left:0;
  top:-8px;
  display:block;
  content:"";
  background-color:#fff
}
.btn-lines:after {
  top:7px
}
.mobile-nav {
  position:fixed;
  top:0;
  right:0;
  z-index:100;
  overflow:hidden;
  width:340px;
  height:100%;
  padding:80px 60px;
  box-sizing:border-box;
  color:#fff;
  line-height:2;
  font-size:24px;
  background-color:#3855ff;
  transform:translate3d(341px,0,0);
  -webkit-transform:translate3d(341px,0,0);
  -o-transform:translate3d(341px,0,0);
  -ms-transform:translate3d(341px,0,0);
  transition:all .7s cubic-bezier(.25,1,.2,1)
}
.mobile-nav.show {
  transform:translateZ(0);
  -webkit-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0)
}
.mobile-nav-list {
  position:relative;
  height:100%;
  padding-top:20%
}
.mobile-nav-item {
  cursor:pointer
}
.mobile-nav-item a {
  display:block;
  width:100%
}
.mobile-nav-lang {
  position:absolute;
  bottom:0
}
.headline-l {
  font:105px/1.1 Dosis Light,Roboto,Microsoft YaHei,sans-serif;
  letter-spacing:8px;
  text-transform:uppercase
}
.headline-semi-l {
  font:62px/1.1 Dosis Light,Roboto,Microsoft YaHei,sans-serif;
  letter-spacing:6px;
  text-transform:uppercase
}
.headline-zh-el {
  font:62px/1.3 Roboto,Microsoft YaHei,sans-serif;
  font-weight:lighter
}
.headline-s {
  margin-bottom:24px;
  font:34px/52px Dosis Light,Roboto,Microsoft YaHei,sans-serif;
  letter-spacing:4px;
  text-transform:uppercase
}
.headline-xs {
  font:18px/52px Dosis,Roboto,Microsoft YaHei,sans-serif;
  letter-spacing:2px;
  text-transform:uppercase
}
.headline-zh-l {
  margin-bottom:24px;
  font:48px/62px Dosis Light,Roboto,Microsoft YaHei,sans-serif;
  color:#fff;
  font-weight:700
}
.headline-zh-s {
  margin-bottom:24px;
  font:42px/74px Dosis Light,Roboto,Microsoft YaHei,sans-serif;
  color:#444;
  font-weight:lighter
}
main {
  scroll-behavior:smooth
}
.intro,
.intro .content {
  position:relative
}
.intro .content {
  display:-moz-flex;
  display:flex;
  flex-wrap:wrap;
  align-content:center
}
.intro-con {
  min-height:100vh
}
.bg-overlay {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden
}
.bg-overlay video {
  position:relative;
  height:100%
}
.bg-overlay:after {
  left:0;
  top:0;
  background:linear-gradient(180deg,rgba(28,28,28,.4) 0,#0a0a0a);
  content:""
}
.bg-overlay:after,
.intro-zh-bg {
  position:absolute;
  width:100%;
  height:100%
}
.intro-zh-bg {
  top:auto;
  bottom:0;
  background:url(https://preview.cloud.189.cn/image/imageAction?param=AA1ABDCCB3013C772C889CB1345434680ADDF0C5A968C542FCA2F6ED5930F378C78B7C06893CE635C1C69B8B3043316F5BD8C93032311AA2A7644AAEDBF8405A7434351237B4B9FEF6A290499CF5FE42161521941492E16722CE0A318BD314E6847160CD6C2AA805626177644645B085) 0 0 no-repeat scroll;
  background-size:cover
}
.left-con {
  flex:1 1 auto;
  min-width:600px
}
.right-con {
  flex: 1 1 auto;
  padding-top: 75px;
  padding-left: 150px;
}
.contact-con .btn-black,
.intro-con .btn-black {
  height:20px;
  border-width:4px;
  padding:21px 42px;
  font-size:18px
}
.intro-con .arrow-right {
  top:21px;
  background-image:url(https://recreate.games/img/down.dc6588d4.svg)
}
.about {
  position:relative
}
.about .headline-s,
.about .headline-zh-s {
  padding-top:15%
}
.paragraph {
  float:left;
  width:46.9%;
  margin-top:20px;
  opacity:.7;
  text-align:justify
}
.paragraph.zh {
  opacity:1
}
.about .paragraph:nth-child(3) {
  margin-left:6.2%;
  padding-bottom:15%
}
.about .paragraph:nth-child(3):after {
  display:block;
  width:100%;
  height:1px;
  clear:both;
  content:""
}
.p {
  margin-top:20px;
  text-align:justify
}
.btn-wrap {
  clear:both;
  padding:35px 0 15%
}
.btn-black,
.btn-white {
  display:inline-block;
  position:relative;
  border:2px solid hsla(0,0%,100%,.75);
  padding:13px 42px;
  border-radius:6px;
  font-size:14px;
  line-height:20px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:2px;
  cursor:pointer;
  vertical-align:middle;
  transition:transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1)
}
.btn-white {
  color:#444;
  border-color:rgba(68,68,68,.75)
}
.btn-txt {
  display:inline-block;
  transition:transform .45s cubic-bezier(.25,1,.33,1)
}
.arrow-right {
  position:absolute;
  right:30px;
  top:12px;
  opacity:0;
  width:18px;
  height:20px;
  background:url(../img/right.94777bfd.svg) 50% no-repeat;
  transition:opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1)
}
.btn-black:hover {
  border-color:#296aff;
  background-color:#296aff;
  transform:translateY(-3px)
}
.btn-white:hover {
  color:#fff;
  border-color:#333;
  background-color:#333;
  box-shadow:0 20px 38px rgba(0,0,0,.16);
  transform:translateY(-3px)
}
.btn-black:hover .btn-txt,
.btn-white:hover .btn-txt {
  transform:translateX(-18px)
}
.btn-black:hover .arrow-right,
.btn-white:hover .arrow-right {
  opacity:1;
  transform:translateX(8px)
}
.about-2 {
  position:relative;
  background:url(../img/Door-pic-1.0976e1a5.jpg) 50% no-repeat;
  background-size:100%
}
.about-2:after {
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100%;
  background:rgba(10,10,10,.62);
  background:linear-gradient(180deg,rgba(10,10,10,.62) 0,#0a0a0a);
  opacity:.8;
  content:""
}
.about-2 .headline-s {
  position:relative;
  z-index:2;
  margin-top:20%;
  margin-bottom:20%;
  padding:1%;
  line-height:1.25;
  font-size:36px;
  text-align:center;
  color:hsla(0,0%,100%,.69);
  background:#0a0a0a
}
.work-env {
  background:#f2f2f2
}
.work-env .content {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 8%;
  padding-bottom: 9%;
}
.env-con {
  overflow:hidden
}
.work-env-txt {
  flex:1 1 auto;
  margin-right:80px
}
.work-env-img {
  overflow:hidden;
  flex:1 1 auto
}
.work-env-item {
  float:left;
  width:49%;
  margin-left:2%;
  margin-bottom:2%
}
.work-env-item:first-child,
.work-env-item:nth-child(3) {
  margin-left:0
}
.work-env-item img {
  width:100%;
  vertical-align:top
}
.careers .headline-l,
.careers .headline-zh-s {
  text-align:center;
  padding-top:15%
}
.careers-subtitle {
  max-width:610px;
  margin:0 auto;
  text-align:center
}
.job-list,
.job-list-white {
  margin-top:90px;
  padding-bottom:15%;
  text-transform:uppercase
}
.job-list-white {
  font-size:24px;
  color:#676767
}
.job-item {
  overflow:hidden;
  position:relative;
  padding:22px;
  border-bottom:1px solid hsla(0,0%,100%,.12);
  transition:color .3s ease
}
.job-list-white .job-item {
  border-color:rgba(0,0,0,.14)
}
.job-item:last-child {
  border-bottom:none
}
.job-item-info {
  position:relative;
  display:-moz-flex;
  display:flex;
  margin-right:100px;
  text-align:left
}
.job-item-info span {
  display:inline-block;
  flex:1 1 auto
}
.job-item-info .job-name {
  width:40%;
  padding-right:20px
}
.job-item-btn {
  display:block;
  float:right;
  text-align:right
}
.careers .btn-black,
.careers .btn-white {
  display:inline-block;
  padding:8px 12px;
  line-height:12px
}
.careers .btn-white {
  color:#000;
  border-color:rgba(0,0,0,.3)
}
.job-item:hover .btn-white {
  color:#fff;
  border-color:hsla(0,0%,100%,.5)
}
.job-item:hover:before {
  opacity:1;
  transform:perspective(1000px) rotateX(0)
}
.job-list-white .job-item:hover {
  color:#fff
}
.job-item:before {
  bottom:0;
  right:0;
  z-index:0;
  opacity:0;
  content:"";
  background-color:#296aff;
  transform:perspective(1000px) rotateX(90deg);
  transform-origin:50% 100%;
  transition:all .4s cubic-bezier(.2,0,.15,1)
}
.job-item:before,
.job-link {
  position:absolute;
  left:0;
  height:100%
}
.job-link {
  display:block;
  top:0;
  width:100%;
  cursor:pointer
}
.location {
  position:relative;
  height:400px
}
.location-map {
  width:100%;
  height:100%
}
.location .headline-s {
  position:absolute;
  bottom:60px;
  z-index:10;
  margin-bottom:0
}
a[href^="https://maps.google.com/maps"] {
  display:none!important
}
.gmnoprint div {
  background-color:hsla(0,0%,100%,.7)!important
}
.gm-style-cc,
.gmnoprint a,
.gmnoprint span {
  display:none
}
.map-marker {
  position:absolute;
  width:20px;
  height:20px;
  margin-left:-10px;
  margin-top:-10px
}
.map-marker .middle-dot {
  left:2px;
  top:2px;
  background-color:#296aff
}
.map-marker .middle-dot,
.map-marker .middle-dot:after {
  position:absolute;
  width:16px;
  height:16px;
  border-radius:8px
}
.map-marker .middle-dot:after {
  left:0;
  top:0;
  z-index:100;
  display:block;
  opacity:0;
  content:" ";
  background-color:#fff;
  animation:animationSignal2 2s cubic-bezier(0,.55,.55,1) .78s infinite forwards
}
.map-marker .signal,
.map-marker .signal2 {
  position:absolute;
  left:-80px;
  top:-80px;
  opacity:0;
  width:180px;
  height:180px;
  pointer-events:none;
  border-radius:200px;
  background-color:#296aff;
  animation:animationSignal 2s cubic-bezier(0,.55,.55,1) .78s infinite forwards
}
.map-marker .signal2 {
  opacity:0;
  animation-delay:1s
}
@keyframes animationSignal {
  0% {
    opacity:0;
    transform:scale(0)
  }
  1% {
    opacity:.25
  }
  20% {
    opacity:.25
  }
  60% {
    transform:scale(1);
    opacity:0
  }
}
@keyframes animationSignal2 {
  0% {
    opacity:0
  }
  1% {
    opacity:.2
  }
  20% {
    opacity:.17
  }
  60% {
    opacity:0
  }
}
.contact {
  background:#000
}
.contact-con {
  padding-top:15%
}
.contact .content {
  display:-moz-flex;
  display:flex;
  flex-wrap:wrap;
  align-content:center
}
.contact-info,
.msg-form {
  flex:1 1 auto;
  padding-top:5%;
  padding-bottom:5%
}
.contact-con .btn-black:hover .btn-txt {
  transform:none
}
.contact-list {
  display:flex;
  padding-top:10%;
  padding-bottom:10%
}
.contact-item {
  overflow:hidden;
  padding:45px 0 24px;
  margin-right:20px
}
.contact-list .contact-item {
  flex:1 1 auto
}
.contact-list .contact-title {
  float:none;
  width:100%;
  margin-right:0
}
.contact-title {
  display:inline-block;
  width:30%;
  min-width:220px;
  margin-right:20px
}
.contact-desc {
  display:inline-block;
  min-width:286px;
  color:#c5c5c5
}
.input-wrap {
  position:relative;
  display:block;
  padding-top:45px;
  margin-bottom:24px
}
.label {
  line-height:52px;
  text-transform:uppercase
}
.input {
  width:100%;
  box-sizing:border-box;
  border:none;
  padding:0;
  border-bottom:1px solid hsla(0,0%,100%,.3);
  font:16px/2 Roboto,Microsoft YaHei,sans-serif;
  vertical-align:top;
  background:none;
  outline:none;
  color:#fff;
  resize:none
}
.input.warn {
  border-color:#9c3333
}
.btn-submit {
  position:relative;
  display:block;
  width:220px;
  height:20px;
  padding:15px 0;
  border:none;
  border-radius:6px;
  text-align:center;
  font-size:16px;
  line-height:20px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:2px;
  background-color:#296aff;
  cursor:pointer;
  transition:background-color
}
.btn-submit.error {
  background-color:#9c3333;
  cursor:default
}
.btn-submit .done,
.btn-submit .loading {
  cursor:default
}
.done-ico,
.error-ico,
.loading-ico {
  display:inline-block;
  width:18px;
  height:18px;
  margin-left:12px;
  margin-top:-2px;
  background:url(../img/spinner8.2648c32f.svg);
  vertical-align:middle
}
.loading-ico {
  animation:ani-loading 1s linear infinite
}
@keyframes ani-loading {
  0% {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(1turn)
  }
}
.done-ico {
  background:url(../img/checkmark.25420044.svg)
}
.error-ico {
  background:url(../img/notification.d82a712f.svg)
}
.txt {
  opacity:1
}
.done-icon,
.error-icon,
.loading-icon,
.txt {
  position:absolute;
  top:15px;
  left:0;
  display:inline-block;
  width:100%;
  transition:transform .45s cubic-bezier(.25,1,.33,1),opacity .45s cubic-bezier(.25,1,.33,1)
}
.done-icon,
.error-icon,
.loading-icon {
  opacity:0;
  transform:translateY(15px)
}
.done .loading-icon,
.done .txt,
.error .loading-icon,
.error .txt,
.loading .txt {
  opacity:0;
  transform:translateY(-15px)
}
.done .done-icon,
.error .error-icon,
.loading .loading-icon {
  opacity:1;
  transform:translateY(0)
}
.form-notice {
  top:95px;
  cursor:default
}
.form-notice,
.form-notice .notice {
  position:absolute;
  left:0;
  width:100%
}
.form-notice .notice {
  top:0;
  display:block;
  opacity:0;
  transition:opacity .45s cubic-bezier(.25,1,.33,1)
}
.form-notice .show {
  opacity:1
}
.notice-error {
  color:#9c3333
}
.notice-success {
  color:#296aff
}
footer {
  background:#060606
}
.footer-con {
  padding:20px;
  font-size:12px;
  color:#969696
}
[lang=en] .career-wrap {
  color:#888;
  background:#fff
}
.career-top {
  position:relative;
  padding-top:100px;
  padding-bottom:150px;
  margin-bottom:-80px;
  color:#fff
}
.career-top .left-con,
.career-top .right-con {
  padding:36px;
  box-sizing:border-box
}
.career-top .right-con {
  width:152px;
  text-align:right
}
.career-top .left-con {
  max-width:60%
}
.career-top .headline-zh-l {
  margin-bottom:0
}
.career-top .arrow-right {
  background-image:url(https://recreate.games/img/down.dc6588d4.svg)
}
.career-btn-wrapper {
  display:inline-block;
  padding-top:8px;
  font-size:16px;
  line-height:32px;
  vertical-align:top
}
.career-btn-wrapper.with-pt {
  padding-top:15px
}
.career-btn-wrapper .btn-black {
  vertical-align:top
}
.career-detail {
  position:relative;
  padding:5%;
  background:#f7f7f7
}
.career-left-con {
  float:left;
  width:30%;
  padding-right:45px;
  box-sizing:border-box
}
.career-right-con {
  margin-left:30%;
  color:#676767;
  font-size:16px;
  line-height:32px
}
.career-list {
  margin-bottom:60px
}
.career-title,
.career-title-zh {
  font:24px/1 Dosis,Roboto,Microsoft YaHei,sans-serif;
  margin-bottom:26px;
  letter-spacing:2px;
  text-transform:uppercase;
  font-weight:700;
  color:#242424
}
.career-title-zh {
  font-weight:500
}
.career-time {
  font-size:18px;
  font-weight:400;
  line-height:26px
}
.career-item {
  position:relative;
  padding-left:15px
}
.career-item:before {
  position:absolute;
  left:0;
  top:0;
  display:block;
  margin-right:10px;
  color:#000;
  font-weight:700;
  font-size:30px;
  line-height:32px;
  content:"·";
  vertical-align:middle
}
.career-apply {
  padding:5%;
  color:#fff;
  background:#212121
}
.career-apply .career-right-con,
.career-apply .career-title,
.career-apply .career-title-zh {
  color:#fff
}
.career-right-con .input-wrap {
  padding-top:0;
  margin-bottom:34px
}
.career-right-con .form-notice {
  top:50px
}
.career-apply .label {
  line-height:24px;
  margin-bottom:26px
}
.select {
  width:100%;
  height:42px;
  line-height:30px;
  padding:5px;
  box-sizing:border-box;
  border:1px solid #e0e0e0;
  text-transform:uppercase;
  outline:none;
  border-radius:4px;
  background:none;
  color:#fff
}
.select option {
  color:#000
}
.file {
  position:relative;
  display:inline-block;
  width:100%;
  box-sizing:border-box;
  padding:10px 0;
  border-bottom:1px solid hsla(0,0%,100%,.3);
  line-height:28px;
  color:#fff
}
.file.warn {
  border-color:#9c3333
}
.btn-upload {
  position:relative;
  display:inline-block;
  width:120px;
  margin-right:10px;
  border:1px solid #fff;
  font-size:12px;
  line-height:26px;
  text-align:center;
  border-radius:4px;
  cursor:pointer;
  vertical-align:middle
}
.file-input {
  left:0;
  top:0;
  opacity:0;
  width:100%;
  height:100%
}
.btn-delete,
.file-input {
  position:absolute;
  cursor:pointer
}
.btn-delete {
  right:0;
  top:20px;
  width:20px;
  height:20px;
  line-height:20px;
  text-align:center
}
.career-bottom {
  padding:30px 0;
  margin-top:35px;
  line-height:70px;
  text-align:right;
  background:#545454;
  background:linear-gradient(45deg,#1c1c1c,#1b1b1b)
}
.career-bottom .career-title,
.career-bottom .career-title-zh {
  margin-bottom:0;
  float:left;
  color:#fff;
  line-height:70px
}
.not-founded {
  height:calc(100vh - 64px);
  min-height:400px;
  text-align:center;
  background:#fff;
  color:#242424;
  font-size:250px
}
.not-founded .content {
  position:relative;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  align-content:center;
  align-items:center;
  height:100%;
  flex-wrap:nowrap
}
.error-con {
  flex:1 1 auto;
  width:100%;
  max-width:400px;
  margin:0 auto
}
.not-founded .title {
  font:1em/1 Dosis,Microsoft YaHei,sans-serif;
  font-weight:700;
  letter-spacing:8px
}
.not-founded .descri {
  font:.28em/1 Roboto Bold,Microsoft YaHei,sans-serif;
  font-weight:700;
  white-space:nowrap;
  letter-spacing:-1px
}
@media screen and (max-width:1000px) {
  .headline-l {
    font-size:84px
  }
  .paragraph {
    float:none;
    width:auto
  }
  .about .paragraph:nth-child(3) {
    margin-left:0
  }
  .about-2 {
    background-size:1000px
  }
  .work-env .content {
    display:block
  }
  .work-env-txt {
    margin-right:0
  }
  .work-env-img {
    margin-top:30px
  }
}
@media screen and (max-width:900px) {
  .career-top .right-con {
    text-align:left
  }
  .career-top .left-con,
  .career-top .right-con {
    padding-left:0;
    padding-right:0
  }
  .career-top .left-con {
    width:100%;
    max-width:100%
  }
  .career-left-con {
    float:none;
    width:auto
  }
  .career-right-con {
    margin-left:0
  }
  .career-bottom {
    text-align:center
  }
  .career-bottom .career-title,
  .career-bottom .career-title-zh {
    float:none
  }
}
@media screen and (max-width:768px) {
  .work-env-item {
    width:100%;
    margin-left:0
  }
  .not-founded {
    font-size:180px
  }
}
@media screen and (max-width:767px) {
  .headline-l {
    font-size:60px
  }
  .job-item-info,
  .job-item-info span {
    display:block
  }
  .job-item-info .job-name {
    width:100%
  }
}
@media screen and (max-width:600px) {
  .headline-l {
    font-size:48px
  }
  .left-con {
    width:100%;
    min-width:auto
  }
}
@media screen and (max-width:450px) {
  .not-founded {
    font-size:120px
  }
}

.nav-right {
  float: right;
  margin-left: 20px;
  opacity: .75;
  display: none;
}

.logo-wrap {
  overflow: hidden;
  float: left;
  display: none;
}